
<div class="well">
    <h1>About me</h1>
    
    <p>I am self-taught developer and I love to learn. I hope to continue to hone my skills as a developer and start being able
        to pass on that knowledge to others that are looking to learn.
    </p>
   
    <p>I have participated in three seperate hack-a-thons and have learned a tremendous amout from participating. The first hack-athon was an 
       interal hack-a-thon at Fullscript. The second hack-a-thon was an Qlik and we built an application using React. It was my first
       time using react and I would love the opportunity to  learn to use it some more. The most recent hack-a-thon was at Fullscript but we
       built an applicaiton for Ottawa Inner City health. 
    </p>
    <p>I have experience in:</p>
     <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>Bootstrap</li>
        <li>Bulma</li>
        <li>JavaScript</li>
        <li>Node.js</li>
        <li>Express</li>
        <li>Git</li>
        <li>Ruby on Rails</li>
        <li>Using the command line</li>
        <li>REST</li>
        
    </ul>
</div>






