
<div class="well">
    <h1>About me</h1>
    <p>I'm would like apply for the Cloud Software Developer position at Rewind.</p>
    <p>I am self-taught developer and I love to learn. I have experience working in a start-up and believe that I could learn a lot
       at Rewind. I also believe I can add a lot of value as well. 
    </p>
    <p>At my current place of employment, I work in customer success but since we are a startup, we all have side projects.</p>
    <p>My side projects involved building and improinvg our interal tools for the customer success team. I currently use Ruby on Rails
        at work. I have added an expiration date to our shipping credits tool, built a new reason code table for our database to better track
        why we are giving shipping credits and who is giving them out to help with coaching and to determine trends. I have also
        made improvments to the customer success worflow.
    </p>
    <p>After speaking with Lauren and conducting my own research about Rewind, I really would love the opportunity to work at Rewind</p>
    <p>I have participated in three seperate hack-a-thons and have learned a tremendous amout from participating. The first hack-athon was an 
       interal hack-a-thon at Fullscript. The second hack-a-thon was an Qlik and we built an application using React. It was my first
       time using react and I would love the opportunity to  learn to use it some more. The most recent hack-a-thon was at Fullscript but we
       built an applicaiton for Ottawa Inner City health. 
    </p>
    <p>I have experience in:</p>
     <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>Bootstrap</li>
        <li>Bulma</li>
        <li>JavaScript</li>
        <li>Node.js</li>
        <li>Express</li>
        <li>Git</li>
        <li>Ruby on Rails</li>
        <li>Using the command line</li>
        <li>REST</li>
        
    </ul>
</div>






