<h1>Who am I</h1>
<p>I'm looking to find a position as a Full-stack Developer</p>
<p>I am self-taught and love to learn. I have experience working in a start-up and believe that I could learn a lot
   at Rewind. I also believe I can add a lot of value as well. 
</p>

