<div class="row">
    <h1>How can you reach me?</h1>
    <div class="col-md-6 center">
    <a href="https://www.linkedin.com/in/aweys-ahmed-2bb26150?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base%3B8NY0wdRaTJq6USAq9ONVJg%3D%3D"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
    </div>
    <div class="col-md-6 center">
        <a href="https://github.com/AweysAhmed"><i class="fab fa-github" aria-hidden="true"></i></a>
    </div>
</div>
  
